@{
    ViewBag.Title = "Augurator";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div id="leftPane">
    <h2>Address List</h2>
    @Html.TextBox("address", "", new { style="width: 200px" } )    
    <input type="button" id="addAddress" onclick="addAdddressClick()" value="Add" />

    <ul id="sortableAddressList" class="sortable">
    </ul>        
</div>

<div id="rightPane">
    <ul id="sortableDestinations" class="sortable" style="height: 100px; width: 100%">
    </ul>

    <div id="map-canvas" style="width: 100%; height: 80%;"></div>
</div>

<script type="text/javascript">    
    var map = new Google.Map(window);    
    var addressFactory = new Google.AddressFactory();    
    var clicked = false;

    $('#address').geocomplete();
    $('#address').geocomplete().bind("geocode:result", result);

    function addAdddressClick() {
        clicked = true;
        $('#address').trigger('geocode');        
    }

    function result(event, result) {
        if (clicked) {
            addressFactory.create(result.formatted_address, result.geometry.location.ob, result.geometry.location.pb);
        }

        clicked = false;
    }

    $("#sortableAddressList").sortable({
        revert: true
    });

    $("#map-canvas").droppable({
        drop: mapDrop
    });
    
    function mapDrop(event, ui) {
        $("#sortableDestinations")
                .append($("<li>" + ui.draggable[0].innerHTML + "</li>"));

        var latitude = $(ui.draggable[0]).attr("lat");
        var longitude = $(ui.draggable[0]).attr("long");

        map.zoomTo(latitude, longitude);

        map.addWaypoint(latitude, longitude);

        if ($("#sortableDestinations li").size() > 2) {
            map.solveRoundTrip();
        }
    }

</script>

@*@Html.Partial("~/Views/Shared/_Business.cshtml");*@