@{
    ViewBag.Title = "Augurator";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<h1>Augurator</h1>
   
<script type="text/javascript">
    var map = new GoogleMaps.GoogleMap(window);
</script>

<div id="map-canvas" style="border: 1px solid black;"></div>