<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <title>@ViewBag.Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATWa8EJgsmG2HDQahhFQGYo8sk1DHVS2M&v=3.exp&sensor=false" type="text/javascript"></script>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 400px }
    </style>
</head>
<body>
    <div style="border: 1px solid red;">
        @RenderBody()
    </div>
</body>
</html>