<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="border: 1px solid red;">
        @RenderBody()
    </div>
</body>
</html>